body{
  background-image: linear-gradient(to right, red , blue);
}

footer{
	justify-content: center;
	align-items: center;
}

article{
	grid-row: 3 / 4;
	grid-column: 2;
	font-family: Candara;
	font-size: 20px;
	text-align: center;
	margin: 5px;
	border: 3px solid black;
}

.socia-bar{
  justify-content: center;
  align-items: center;
}

.icon{
  color: white;
  text-decoration: none;

}

.icon:first-child{
	border-radius: 1rem 0 0 0;
}

.icon:last-child{
	border-radius: 0 0 0 1rem;
}