body{
  background-image: linear-gradient(to right, red , blue);
}

table,tr,th,td{

  border-collapse: collapse;
  width: 10%;
  font-size: 15px;
  color: white;

}

table{
   width: 100%;
       justify-content: center;
  align-items: center;
}

.socia-bar{
  justify-content: center;
  align-items: center;
}

.icon{
  color: white;
  text-decoration: none;
}

.icon:first-child{
  border-radius: 1rem 0 0 0;
}